<div id="start-page">
    <h1>Congrats you the best!</h1>
    <p>
      You won in {{Main.count}} moves.
    </p>
    <p>
      If this was nascar you'd beat Ricky Bobby! If this was Whose Line Is It Anyway you'd take on Drew Carey! If this was F1 you'd beat Lewis Hamilton! If this was Jeopardy! you'd beat Alex Trebek! If this was Top Gear you'd beat Jeremy Clarkson!
    </p>
    <p>
      Welcome to the realm of the WikiLords!
    </p>
    <div ng-hide="Main.saved">
      Enter your name and have your name recorded in the Pantheon Of Winners:
      <form name="new-winner-form" ng-submit="Main.saveGame()">
        <input type="text" ng-model='Main.player'>
        <button type="submit" name="button">Engrave your name into the Pantheon of Winners</button>
      </form>
    </div>
    <p ng-if="Main.saved">
      Game saved, WikiLord, your name has been entered in the Pantheon of Winners for mere WikiUsers to envy.
    </p>
    <div class="start-game-button" data-ng-click="Main.startGame()">Restart Game</div>
  </div>
